/* 头像 start */
.face-wapper {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 120upx 0upx;
}

.face {
	width: 160upx;
	height: 160upx;
}
/* 头像end */

/* 注册登录 start */
.info-wapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	border-bottom: solid 1px #DBDBDA;
	padding-bottom: 20upx;
}

.words-lbl {
	color: #808080;
}

.input {
	width: 500upx;
	margin-left: 40upx; 
}

.graywords {
	color: #EAEAEA;
}

/* 注册登录 end */